* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
/* header section */
.header-bg {
  background: url(../images/banner/banner3.png);
  /* width: 1600px; */
  height: 808px;
}

.header-title {
  weight: 700;
  size: 65px;
  color: #ffffff;
  text-align: right;
  padding-top: 216px;
}
.header-paragraph {
  weight: 400;
  size: 16px;
  color: #ffffff;
  text-align: right;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 32px;
}
.contact-btn {
  border-radius: 5px;
  border: 0;
  width: 160px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  line-height: 23px;
  color: #005fac;
  padding: 20px 25px;
}
.btn {
  text-align: right;
  padding-bottom: 166px;
}
.header-content {
  margin-left: 845px;
  margin-right: 230px;
}
/* failure styles */
.my-failure {
  display: flex;
  width: 1072px;
  height: 723.3px;
  margin: 130px 322px 130px 206px;
}
.failure-content-section {
  margin: 50px 322px 214px 87px;
}
.header {
  margin: 50px 492px 24px 55px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
}
.paragraph {
  margin: 24px 365px 16px 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}
.content{
  margin: 16px 431px 131px 55px ;
  gap: 8px;

}
.failure-content{
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;
}
/* my plan section styles */